.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out

/vendor/
node_modules/
npm-debug.log
yarn-error.log

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

ICTRAS/
移動のやつ/
public/hot
