.btn-edit {
    background-color: #BD8A00 !important;
    color: #ffffff !important;
}

.btn-edit:hover {
    background-color: #916B00 !important;
}

.btn-edit:active {
    background-color: #916B00;
}

.btn-cancel {
    background-color: #727272 !important;
    color: #ffffff !important;
}

.btn-cancel:hover {
    background-color: #4e4e4e !important;
}

.btn-cancel:active {
    background-color: #4e4e4e;
}

.icon-hover:hover {
    color: #007bff; /* or any color of your choice */
    cursor: pointer; /* changes the cursor to indicate it's clickable */
}
